/*  Стили для формы  */
* {
  box-sizing: border-box;
}

form {
    width: 100%;
   
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    overflow: hidden;
    background-color: rgba(49, 247, 188, 0.2);
}

input {
    height: 40px;
    padding: 10px 20px;
    font-size: 18px;

}
input:active {
    color: blue;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span  {
    width: 20px;
    height:19px;
    display: inline-block;
     cursor: pointer;
     border: 2px solid #000;
     transform: translateY(5px);
     margin-right: 10px;
}

input[type="checkbox"]:checked + label span {
   background-color: rgba(0, 0, 0, 0.6);
}

.wrapper {
    margin: 0 auto;
    max-width: 520px;
}
.wrapper  form {
    text-align: center;
}
h1 {
    text-align: center;
}


.bottom_fone {
    height: 100px;
    width: 105%;
    background-image: url('../back-car-form.jpg');
    background-size: cover;
    background-position: center center;
    border-top: 5px solid #dfbc19;
}

/* Стиль книпоки  */

button {
    padding: 15px 25px;
    border: 3px solid rgba(212, 159, 28, 0.4);
    font-size: 20px;
    cursor: pointer;
   margin: 20px 10px;

}